services:
  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
    ports:
      - "9100:9100"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=mail.lilo.org:587 #Specific to your email provider
      - GF_SMTP_USER=EMAIL_ADDRESS
      - GF_SMTP_PASSWORD=EMAIL_PASSWORD
      - GF_SMTP_FROM_ADDRESS=EMAIL_ADDRESS
      - GF_SMTP_FROM_NAME=Grafana Monitoring
      - GF_SMTP_STARTTLS_POLICY=MandatoryStartTLS

volumes:
  grafana-data:
